@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #060606;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

#page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(239, 234, 227);
    padding: 10px 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-part2 {
    width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-part2 h4 {
    position: relative;
    width: auto;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.573);
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    color: #000000af;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: all ease 0.4s;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: #000000af;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    border-radius: 50px;
    transition: all ease 0.4s;
    z-index: -1;
}

#nav-part2 h4:hover::after {
    bottom: 0%;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
    padding-bottom: 20px;
}

#left {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: flex-end;
}

#left h3 {
    font-size: 1.8vw;
    width: 25vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    object-fit: cover;
    border-radius: 80px;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

#hero-shape {
    height: 30vw;
    width: 50%;
    background-color: rgb(242, 75, 4);
    position: absolute;
    right: 0;
    top: 40%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    /* z-index: -1; */
    filter: blur(20px);
    /* animation-name: anime1;
animation-timing-function: linear;
animation-duration: 2s;
animation-direction: alternate-reverse;
animation-iteration-count: infinite; */
}

#hero-1 {
    filter: blur(40px);
    height: 100%;
    width: 100%;
    background: linear-gradient(red, orange);
    position: absolute;
    top: 0%;
    right: 2%;
    width: 500px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-2 {
    filter: blur(40px);
    height: 100%;
    width: 100%;
    background-color: rgb(242, 75, 4);
    position: absolute;
    top: 15%;
    left: 0;
    width: 500px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation-name: anime2;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3 {
    height: 100%;
    filter: blur(40px);
    width: 100%;
    background-color: rgb(242, 75, 4);
    position: absolute;
    top: 2%;
    right: 0;
    width: 500px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-radius: 50%;
    animation-name: anime3;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

@keyframes anime2 {
    from {
        transform: translate(-10%, 80%);
    }

    to {
        transform: translate(80%, -20%);
    }

}

@keyframes anime3 {
    from {
        transform: translate(110%, 80%);
    }

    to {
        transform: translate(-20%, -20%);
    }

}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239, 234, 227);
    overflow: hidden;
}

#moving-text {
    padding-top: 2vw;
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    animation-name: textmove;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
    z-index: 2;
}

#moving-text img {
    height: 7vh;
    position: relative;
    z-index: 2;
}

#moving-text h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vh;
    position: relative;
    z-index: 2;
    font-size: 9vw;
    text-transform: uppercase;
}

@keyframes textmove {
    0% {
        transform: translateX(3%);
    }

    100% {

        transform: translateX(-100%);
    }

}

#page2-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-left {
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

#page2-left h1 {
    width: 600px;
    font-size: 3vw;
    padding: 2vw 4vw;
    position: relative;
}

#back-anim {
    height: 30vw;
    width: 50%;
    background-color: rgb(238, 70, 36);
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    right: 0;
    bottom: 5%;
    z-index: -1;
    animation: backanim 6s ease-in-out infinite alternate;

}

#back-anim1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 30, 0, 0.945), rgb(233, 100, 11), rgb(232, 98, 14));
    /* background-color: blue; */
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    left: 0;
    bottom: 0;
    animation: backanim 6s ease-in-out infinite alternate;

}

@keyframes backanim {
    from {
        transform: translate(-30%, 10%);
    }

    to {
        transform: translate(40%, -40%);
    }
}

#page2-right {
    height: 100vh;
    width: 30%;
    position: relative;
    z-index: 2;
}

#portion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

#portion img {
    height: 15vw;
    object-fit: cover;
    position: relative;
    z-index: 99;
    border-radius: 20px;
}

#portion h3 {
    width: 20vw;
    font-weight: 100;
    position: relative;
    z-index: 2;
    font-size: 1.2vw;
}

#page2 h4 img {
    height: 15px;
    width: 15px;
    position: relative;
    z-index: 2;
}

#side-bar h4 {
    text-transform: uppercase;
    padding: 1vh 3vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 1.5vh;
}

#page2-container {
    height: 15vh;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 4vw 0vw 1vw;
    border-top: 1px solid black;
    margin-left: 3vw;
    margin-top: 0.5vw;
    overflow: hidden;
    position: relative;

}

#page2-container:hover {
    border-top: 2px solid black;
}

#page2-container h1 {
    text-transform: uppercase;
    z-index: 2;
    font-size: 2vw;
}

#page2-container h4 {
    font-size: 1.2vw;
    position: relative;
    z-index: 2;
}

#page2-container h5 {
    font-size: 1.4vh;
    color: #fff;
    position: relative;
    z-index: 2;
}

#shadow {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.2s ease;
}

#page2-container:hover #shadow {
    transform: translateY(0);
    opacity: 1;
}

#fixed-image {
    height: 400px;
    width: 300px;
    position: fixed;
    z-index: 99;
    border-radius: 20px;
    left: 50%;
    bottom: 30%;
    display: none;
    background-size: cover;
    /* ✅ MUST */
    background-position: center;
    /* ✅ MUST */
    background-repeat: no-repeat;
    transition: all ease 0.2s;
}

#page3 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

#page4 {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    /* background-color: #EFEAE3; */
}

#footer {
    height: 100vh;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    position: sticky;
    padding: 20px 30px;
    /* z-index: 9; */
    overflow: hidden;
}

#footer h1 {
    font-size: 19vw;
    color: #fff;
    padding-bottom: 0;
}

#footer-div {
    height: 20vh;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3.5vw;
}

#footer-left {
    font-size: 1.3vw;
}

#footer-right {
    position: relative;
    z-index: 1;
}

#footer-bottom {
    height: 8vh;
    width: 100%;
    border-top: 2px solid gray;
}

#footer-anim {
    height: 10vh;
    width: 100%;
    background-color: orangered;
    margin-bottom: 7vw;
    filter: blur(30px);
    position: relative;
    z-index: -1;
    top: 0;
    transition: all ease 0.3s;
    left: 0;
    display: flex;
    flex-direction: row;

}

#footer-anim1 {
    height: 15vw;
    width: 60%;
    background-color: orangered;
    filter: blur(20px);
    border-radius: 10%;
    position: absolute;
    left: 0%;
    animation-name: foot1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    z-index: -1;
}

#footer-anim2 {
    height: 15vw;
    width: 70%;
    background-color: orangered;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation-name: foot2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
}

#footer-anim3 {
    height: 20vh;
    width: 50%;
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    filter: blur(30px);
    border-radius: 30px;
}

#footer-anim4 {
    height: 15vw;
    width: 90%;
    background-color: rgb(13, 0, 255);
    filter: blur(20px);
    border-radius: 20%;
    position: absolute;
    z-index: -1;
    animation-name: foot2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
}

#footer-anim5 {
    height: 20vw;
    width: 80%;
    background-color: rgb(43, 0, 255);
    filter: blur(20px);
    border-radius: 20%;
    position: absolute;
    z-index: -1;
    animation-name: foot3;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
    top: 0;
    right: 0;
}

#anim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@keyframes foot1 {
    from {
        transform: translate(-50%, 10%) skew(-10deg);
    }

    to {
        transform: translate(-40%, -20%) skew(-50deg);
    }
}

@keyframes foot2 {
    from {
        transform: translate(-50%, 60%) skew(50deg);
    }

    to {
        transform: translate(-40%, 20%) skew(20deg);
    }
}

@keyframes foot3 {
    from {
        transform: translate(40%, 20%) skew(-10deg);
    }

    to {
        transform: translate(-40%, -20%) skew(-50deg);
    }
}

.swiper {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.swiper-slide {
    width: 30%;
    /* background: #444; */
    border-left: 1px solid rgb(186, 97, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 2vw;
}

.swiper-slide img {
    height: 10vw;
    width: 100%;
    object-fit: contain;
}

.swiper-slide h4 {
    text-align: center;
}


#loader {
    position: fixed;
    z-index: 999;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    top: 0;
    transition: all ease 0.7s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#loader h1 {
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;

    animation-name: load;
    animation-duration: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(1) {
    animation-delay: 0s;
}

#loader h1:nth-child(2) {
    animation-delay: 1s;
}

#loader h1:nth-child(3) {
    animation-delay: 2s;
}


@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}